// COLORS
$color-gray: #EDF1F4;
$color-darker-gray: #DAE0E4;
$color-background-gray: #F7F9F9;

$color-blue-gray: #AAB9C3;
$color-violet: #9891B6;
$color-dark-violet: #6D5CAC;
$color-dark: #172938;

$color-button-primary: #FB9400;
$color-button-danger: #FF584E;

// BREAKPOINTS
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

:export {
  color-gray: $color-gray;
  color-darker-gray: $color-darker-gray;
  color-background-gray: $color-background-gray;
  color-blue-gray: $color-blue-gray;
  color-violet: $color-violet;
  color-dark-violet: $color-dark-violet;
  color-dark: $color-dark;
  color-button-primary: $color-button-primary;
  color-button-danger: $color-button-danger;
  screen-sm-min: $screen-sm-min;
  screen-md-min: $screen-md-min;
  screen-lg-min: $screen-lg-min;
  screen-xl-min: $screen-xl-min;
}
