@import "../../assets/sass/index";

.singleRecipe {

  @include md {
    padding: 35px 50px 50px;
  }

  h1 {
    color: $color-dark;
    font-size: 1.5rem;
    font-weight: 500;
  }

  h2 {
    color: $color-dark;
    font-size: 1.125rem;
    font-weight: 500;
  }

  section {
    margin-top: 40px;
  }

  .tags {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  .textsContainer {
    @include md {
      display: flex;
      gap: 30px;
    }
  }

  .ingredients ul, .steps ol {
    margin-top: 10px;
    padding-left: 1rem;
  }

  .ingredients li, .steps li {
    margin-bottom: 10px;
  }

  .ingredients {
    @include md {
      position: relative;
      width: 240px;
      padding-right: 30px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: #AAB9C3;
        height: 100%;
        width: 1px;
      }
    }

    ul {
      list-style: outside;
    }
  }

  .steps {
    flex: 1;
    margin-top: 30px;

    @include md {
      margin-top: 0;
    }

    ol {
      list-style: decimal outside;
    }
  }

  .photos div {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    align-content: center;
    grid-template-columns: repeat(1, 1fr);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

}
