.icon {
  background-size: contain;
  background-repeat: no-repeat;

  &--recipes {
    background-image: url("../../assets/img/icon_recipes.png");
  }

  &--new {
    background-image: url("../../assets/img/icon_new.png");
  }

  &--cart {
    background-image: url("../../assets/img/icon_cart.png");
  }

  &--search {
    background-image: url("../../assets/img/icon_search.png");
  }

  &--filter {
    background-image: url("../../assets/img/icon_filter.png");
  }
}
