@import "../../assets/sass/index";

.dashboard {

  @include md {
    padding: 35px 50px 0;
  }

  section {
    margin-top: 40px;
  }

  h2 {
    font-weight: 500;
    color: $color-dark;
    font-size: 24px;
  }

  .filterBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;

    @include lg {
      display: flex;
      gap: 40px;
    }
  }

  .recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
    padding-bottom: 40px;

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
