@import "../../assets/sass/index";

.recipeBox {
  width: 200px;
  height: 250px;
  background-color: #FFFFFF;
  border-radius: 15px;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .info {
    padding: 10px 20px;
    font-size: 15px;
    position: relative;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    color: $color-dark;
  }

  .time {
    position: absolute;
    bottom: 0;
    right: 0;

  }
}
